# PostgreSQL
  POSTGRES_USER=vow_pact
  POSTGRES_PASSWORD=
  POSTGRES_DB=vow_pact_development

  # Rails -> DB 接続URL
  # 形式: postgresql://USER:PASSWORD@HOST:PORT/DBNAME
  DATABASE_URL=postgresql://vow_pact:PASSWORD@db:5432/vow_pact_development

  # OpenAI API
  OPENAI_API_KEY=
